﻿@using PCS1.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PCS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Styles.Render("~/Content/fullcalendarcss")
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                //  theme: true,
                defaultDate: new Date(),
                nextDayThreshold: '00:00:00',
                //defaultView: 'agendaDay',
                editable: true,
                events: "/getPatients/",
                eventClick: function (calEvent, jsEvent, view) {
                    debugger
                    $.ajax({
                        url: "/getPatientDetails",
                        type: "GET",
                        dataType: "json",
                        data: { id: calEvent.id },
                        success: function (data) {
                            
                            if (data.length != 0) {

                                $("#Patient_Id").val(data.Patient_Id);
                                $("#PatientName").val(data.PatientName);
                                $("#PatientEmail").val(data.PatientEmail);
                                $("#PatientContactNo").val(data.PatientContactNo);
                                var mydate = moment(data.date1);
                                var date1 = new Date(mydate);
                                date1 = convert(date1);
                                $("#date1").val(date1);
                                var mydate1 = moment(data.date2);
                                var date2 = new Date(mydate1);
                                date2 = convert(date2);
                                $("#date2").val(date2);                               
                                var mydob1 = moment(data.DOB);
                                var dob2 = new Date(mydob1);
                                dob2 = convert(dob2);
                                console.log("dob", dob2);
                                $("#dob").val(dob2);
                                $("#CycleType").prop('selectedIndex', data.CycleType);
                                $("#comments").val(data.comments);
                                $("#AllDays").prop('selectedIndex', data.AllDays);
                            }
                        }
                    });
                    $("#EditContent").dialog({
                        modal: true, title: false, width: 550, height: 500,
                        open: function () {
                            jQuery('.ui-widget-overlay').bind('click', function () {
                                jQuery('#EditContent').dialog('close');
                            })
                        }
                    })
            }
            });
        });
        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [mnth, day, date.getFullYear()].join("/");
        }

    </script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="topHeaderStrip">
            <div class="col-lg-4 col-md-4 col-sm-6"><i class="fa fa-phone" aria-hidden="true"></i> 1-888-MED-MIND (1-888-633-6463)</div>
            <div class="col-lg-4 col-md-4 col-sm-6 pull-right text-right">
                <ul>
                    @if (Session["Admin"] != null)
                    {
                        <li><a href="#">Welcome @Session["Admin"].ToString()</a></li>
                        <li><a href="@getpath.getallpath/Login">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a herf="/Login"><img src="~/Images/medminder-logo1.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right navbarright">               
                <li>@Html.ActionLink("Profile", "MyProfile", "Admin")</li>
                <li>@Html.ActionLink("Employees", "Employee", "Admin")</li>
                <li>@Html.ActionLink("Settings", "settings", "Admin")</li>
            </ul>
            @*   @Html.Partial("_LoginPartial") *@
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Patient Calendar System</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            if ($('#myModal').hasClass('modalErrorMsg')) {
                $('#myModal').removeClass('hide');
                $('#myModal').modal('show');
            }
        });
    </script>
</body>
</html>
