﻿@model PCS1.ViewModel.ForgetPassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/LoginShared.cshtml";
}
<div class="col-md-4"></div>
<div class="col-md-4">
    <section class="login-form">
        <form role="login" method="post">
            <img src="~/Images/medminder-logo1.png" class="img-responsive" alt="" />
            <div class="form-group">
              
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Forget Password</button>
        </form>
      
    </section>
</div>
<div class="col-md-4"></div>

@if (TempData["FPMessage"] != null)
{
    <div id="myModal" class="modal hide fade modalErrorMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
        <div class="modal-body" style="">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <p>@TempData["FPMessage"]</p>
        </div>
    </div>
}

