﻿@model PCS1.Models.tbl_Admin
    @using PCS1.Models
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/MasterShared.cshtml";
}

<center class="col-md-12">
    <div class="wl_block clearfix">
       
            <h2>Welcome @Model.FirstName @Model.LastName</h2>
            <h3>Greeting Of The Day!!</h3>
            @if (Model.Photo != "" && Model.Photo != null)
            {
                <img width="130" src="@getpath.getallpath/images/@Model.Photo" align="center" />
            }
            else
            {
                <img width="130" src="@getpath.getallpath/images/NoImage.png" align="center" />
            }
            <h5>@Model.UserName</h5>      
        <a class="linkbtn" href="@getpath.getallpath/Admin/EditProfile/@Model.Admin_Id" >Edit</a>             
    </div>
</center>

