﻿@model IEnumerable<PCS1.Models.tbl_Settings>

@{
    ViewBag.Title = "settings";
    Layout = "~/Views/Shared/MasterShared.cshtml";
}

<h2>settings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Slug")
        </th>
        <th>
            @Html.DisplayName("Key")
        </th>
        <th>
            @Html.DisplayName("Value")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>Edit</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.key_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @item.key_date.Value.ToShortDateString()
        </td>
        <td>
            <a href="/admin/Editsettings/@item.id" data-modal=''>Edit</a>      
        </td>
    </tr>
}

</table>
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Phone.js"></script>