﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: initial !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Login Css*/
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  /*@include box-sizing(border-box);
		&:focus {
		  z-index: 2;
		}*/
	}

body {
	/*background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 2000px;
  padding-top: 110px;
}

.login-form {
	margin-top: 40px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}

    /*Error Message ModelPopup*/
.modal-body button.cross {position: absolute;right: 10px;top: 10px;}
.modalErrorMsg  button.close {background:none;border:1px solid #ccc;border-radius:100px;cursor:pointer;height:25px;line-height:16px;padding:5px;width:25px;}
#myModal.modalErrorMsg .modal-body p {border: 1px solid #ccc;line-height: normal;margin:28px 20px 20px!important;padding:12px;}
#myModal.modalErrorMsg .modal-body {border:4px solid #C5A596;}
#myModal.modalErrorMsg modal-backdrop.in { opacity: .7;}
div#myModal.modalErrorMsg { text-align: center;}
#myModal.modalErrorMsg .modal-header {display: none;}
#myModal.modalErrorMsg .modal-body { margin-top: 100px; background-color: #fff; width: 100%; max-width: 500px;display: inline-block;color: #000;padding: 10px 0; height: 120px; position: relative; line-height: 110px;}
#myModal.modalErrorMsg .modal-body p { margin: 0; font-size: 14px;}
a.linkbtn {color: #fff; background: #A8958E;padding: 6px 12px; border: 1px solid #cccccc; border-radius: 4px;text-decoration: none;}
.login-form .form-group span {position: absolute;top: 42px;right: 15px;text-overflow: ellipsis;display: inline-block;overflow: hidden;width: 90%;white-space: nowrap;}
.login-form .form-group{margin-bottom: 20px;}
.navbar.navbar-inverse.navbar-fixed-top { background: #fff; border: none;  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1); box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);}
.navbar.navbar-inverse.navbar-fixed-top .heading h2 { font-size: 14px; text-transform: uppercase;}
.navbar.navbar-inverse.navbar-fixed-top .heading { float: right;}
.topHeaderStrip { float: left; width: 100%; height: 34px; background: rgba(81,43,30,0.5) none repeat center center; line-height: 34px;color: #fff; padding: 0 20px; font-size: 13px;}
.navbar.navbar-inverse.navbar-fixed-top .navbar-header { padding: 19px 20px;}
.navbar.navbar-inverse.navbar-fixed-top .heading {padding: 19px 20px;}
.topHeaderStrip ul li {display: inline-block;}
.topHeaderStrip ul li a {color: #fff; font-size: 13px; margin: 0px 10px;}
.heading {text-align: center; margin-top: 40px; position: relative; text-transform: uppercase;}
footer { float: left;width: 100%;background: #512b1e none repeat center top; margin-top: 50px; padding: 20px; text-align: right;color: #fff;}
footer p{margin: 0;}
.navbarright li a {padding: 31px 20px;text-transform: uppercase;letter-spacing: .3px; color: #999;}
.navbarright li a:hover{ color: #6190cb !important;}
.filters input {padding: 6px 12px;width: 21%;font-size: 14px;border: 1px solid #cccccc;border-radius: 4px;height:auto;}
.filters span{margin-left:17px;}
.btnsearch{color: #fff;background: #A8958E;padding: 6px 12px;border: 1px solid #cccccc;border-radius: 4px;height:auto;}
.srch{margin-right:0px;}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {z-index: 9999 !important;}
span.select2-container.select2-container--default.select2-container--open{z-index:99999 !important;}
span.select2.select2-container span.select2-selection, span.select2.select2-container span.select2-selection span { line-height: 40px; height: 40px;}
span.select2.select2-container {width: 100% !important;max-width: 280px;}
.navbar-inverse .navbar-nav > li > a:focus { color: #999999; outline: none;}


.inner-filter {
    float: left;
    width: 16.66666%;
    padding-right: 11px;
    margin-bottom: 30px;
}
.inner-filter input, .inner-filter select, .inner-filter span {
    width: 100% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: inherit !important;
    right: 8px;
}
.search-state.inner-filter, .search-pckg.inner-filter, .search-btns.inner-filter {
    margin-top: 19px;
}
.inner-filter input, .inner-filter select {
    border: 1px solid #aaa;
    height: 39px;
    font-size: 14px
}
.inner-filter button#lstsearch, .inner-filter a.linkbtn {
    width: 85px;
    text-align: center;
    height: 39px;
    line-height: 27px;
}