﻿@using PCS1.Models
@model PCS1.Models.tbl_Patient
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Calendar</h2>
<div class="filters">  
    <form method="post">
        <b>Search By: </b>
        <input type="text" name="lastname" placeholder="LastName" id="lastname" /> &nbsp;
        <button type="button" id="search" class="btnsearch">Search</button>
        <span>
            <b> Go to Date: </b><input type="text" id="date3" name="date3" placeholder="Select Date To Print" />
        </span>
        <span>
            <button type="submit" name="Command" value="PrintShipping" class="btnsearch">Print Shipping</button>
        </span>
        <span>
            <button type="submit"  name="Command" value="PrintBilling" class="btnsearch">Print Billing</button>
        </span>
        <span>
            <a id="addpt" class="linkbtn pull-right" href="@getpath.getallpath/addPatients/" data-modal=''>Add Patients</a>
        </span>
    </form>            
</div>
<br />
    <div id="calendar">

    </div>
    @*<div id='myModalevents' class='modal fade in'>
        </div>*@
    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Phone.js"></script>

                    <div id="EditContent" title="Edit Patient" style="display:none;">

                        @using (Html.BeginForm())
            {
                            <div class="form-horizontal">
                               
                                @Html.HiddenFor(model => model.Patient_Id,new { @id= "Patient_Id" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control",@id= "FirstName" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "LastName" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("DOB", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.DOB, new { @id = "dob", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <select class="form-control select2" name="State" id="state">
                                            <option value="0">Select</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN"> Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>

                                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Shipping Cycle Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.CycleDate, new { @id = "date1", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CycleDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>                             

                                <div class="form-group">
                                    @Html.Label("Cycle Type", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("CycleType", new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text="Weekly", Value = "1" },
                                                new SelectListItem{ Text="Bi-Weekly", Value = "2" },
                                                new SelectListItem{ Text="Monthly", Value = "3" },
                                                new SelectListItem{ Text="12 Weeks", Value = "4" } ,
                                                new SelectListItem{ Text="On Hold", Value = "5" }
                                            }, new { @class = "form-control" ,@id= "CycleType" })
                                        @Html.ValidationMessageFor(model => model.CycleType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Billing Cycle", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("BillingCycle", new List<SelectListItem>
{
    new SelectListItem{ Text="4 Weeks", Value = "1" },
    new SelectListItem{ Text="12 Weeks", Value = "2" }
}, new { @class = "form-control",id="BillingCycle" })

                                        @Html.ValidationMessageFor(model => model.BillingCycle, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Billing Start Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.BillingCycleStartDate, new { @id = "date2", @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.BillingCycleStartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Packaging Type", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("PackagingType", new List<SelectListItem>
                                            {   new SelectListItem{ Text="None", Value = "0" },
                                                new SelectListItem{ Text="Trays", Value = "1" },
                                                new SelectListItem{ Text="Blister", Value = "2" },
                                                new SelectListItem{ Text="Vials", Value = "3" }
                                            }, new { @class = "form-control",id="PackagingType" })

                                        @Html.ValidationMessageFor(model => model.PackagingType, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control",@id="comments" })
                                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                    </div>
                                </div>                               
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-2">
                                        <input type="submit" value="Update" name="command" class="btn btn-default" />
                                    </div>
                                    <div class="col-md-offset-1 col-md-2">
                                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this Patient?');" name="command" class="btn btn-default" />
                                    </div>
                                    <div class="col-md-offset-1 col-md-2">
                                        <input type="submit" value="Stop" name="command" onclick="return confirm('Are you sure you want to Stop this Patient Cycle?');" id="Stop" class="btn btn-default" />
                                    </div>
                                    <div class="col-md-offset-1 col-md-2">
                                        <input type="button" value="Cancel" id="Cancel" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        <script>
                            $(document).ready(function () {
                               
                             
        $("#date1").datepicker(
        {
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2050"
        });
        $("#date2").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: "1930:2050"
            });
        $("#dob").datepicker(
                 {
                     changeMonth: true,
                     changeYear: true,
                     yearRange: "1930:2050"
                 });
    });

                        </script>
                    </div>
               


