﻿@using PCS1.Models
@model IEnumerable<PCS1.Models.tbl_Patient>

@{
    ViewBag.Title = "ConvertToPdfSelected";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="witdh=device-witdh" />
    <title>Shipping List</title>
    <style>
        th{
            padding:0px 6px 20px 0px;                       
        }
        td{
            padding:0px 6px 25px 0px;
        }
    </style>
</head>
<body>
    <div>
      
        <h4>Shipping List ( @System.Web.HttpContext.Current.Session["selecteddate"].ToString() )
        </h4>
        <hr />
        <table class="table" >
            <tr>
                <th>
                   <label>First Name</label>
                </th>
                <th>
                    <label>Last Name</label>                    
                </th>             
                <th>
                    <label>Cycle</label>                      
                </th>
                <th><label>Packaging</label></th>
                <th>
                    <label>State</label>                      
                </th>
                <th>
                    <label>F</label>
                </th>
                <th>
                    <label>T</label>
                </th>
                <th>
                    <label>P</label>
                </th>
                <th>
                    <label>S</label>
                </th>
            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>                  
                    <td>
                        @if (item.CycleType == 1)
                        {<span>  Weekly </span>}
                        else if (item.CycleType == 2)
                        {  <span>Bi-Weekly</span>}
                        else if (item.CycleType == 3)
                        {  <span>Monthly</span>}
                        else if (item.CycleType == 4)
                        { <span>12 Weeks</span>}
                        
                    </td>
                    <td>
                        @if (item.PackagingType == 0)
                        {  <span>None</span>}
                        else if (item.PackagingType == 1)
                        {<span>Trays</span>}
                        else if (item.PackagingType == 2)
                        {<span>Blister</span>}
                        else if (item.PackagingType == 3)
                        {<span>Vials</span>}
                        else
                        {<span>-</span>}
                    </td>
                    <td>
                        @if (item.State != null && item.State != "0")
                        { @item.State}
                        else
                        { <span>-</span>}
                    </td>
                    <td>
                        <span>F _____</span>
                    </td>
                    <td>
                        <span>T _____</span>
                    </td>
                    <td>
                        <span>P _____</span>
                    </td>
                    <td>
                        <span>S _____</span>
                    </td>
                </tr>
            }

        </table>
    </div>

</body>
</html>

