﻿@using PCS1.Models
@model IEnumerable<PCS1.Models.tbl_Patient>

@{
    ViewBag.Title = "ConvertToPdf";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="witdh=device-witdh" />
    <title>Billing List</title>
    <style>
        th{
            padding:0px 8px 20px 0px;                       
        }
        td{
            padding:0px 8px 25px 0px;
        }
    </style>
</head>
<body>
    <div>
      
        <h4>Billing List ( @System.Web.HttpContext.Current.Session["fromdate"].ToString()  @System.Web.HttpContext.Current.Session["todate"].ToString() )
        </h4>
        <hr />
        <table class="table" >
            <tr>
                <th>
                   <label>First Name</label>
                </th>
                <th>
                    <label>Last Name</label>                    
                </th>   
                <th>
                    <label>Billing Start Date</label>
                </th>              
                <th>
                    <label>Cycle</label>                      
                </th>
                <th>
                    <label>Billing Cycle</label>
                </th>
                <th>
                    <label>Packaging</label>
                </th>
                <th>
                    <label>State</label>                      
                </th>
             
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>   
                    <td>
                        @item.BillingCycleStartDate.Value.ToShortDateString()
                    </td>                
                    <td>
                        @if (item.CycleType == 1)
                        {<span>  Weekly </span>}
                        else if (item.CycleType == 2)
                        {  <span>Bi-Weekly</span>}
                        else if (item.CycleType == 3)
                        {  <span>Monthly</span>}
                        else if (item.CycleType == 4)
                        { <span>12 Weeks</span>}
                        
                    </td>
                    <td>
                        @if (item.BillingCycle == 1)
                {<span>4 Weeks </span>}
                else if (item.BillingCycle == 2)
                { <span>12 Weeks</span>}
                else
                { <span>-</span>}
                    </td>
                    <td>
                        @if (item.PackagingType == 0)
                        {  <span>None</span>}
                        else if (item.PackagingType == 1)
                        {<span>Trays</span>}
                        else if (item.PackagingType == 2)
                        {<span>Blister</span>}
                        else if (item.PackagingType == 3)
                        {<span>Vials</span>}
                        else
                        {<span>-</span>}
                    </td>
                    <td>
                        @if (item.State != null && item.State != "0")
                        { @item.State}
                        else
                        { <span>-</span>}
                    </td>
                  
                </tr>
            }

        </table>
    </div>

</body>
</html>

