﻿@model PagedList.IPagedList<PCS1.Models.tbl_Patient>
@using PagedList.Mvc
@using PCS1.Models
@{
    ViewBag.Title = "GetBillingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Billing List</h2>

@*<p class="pull-right">
        <button type="submit" id="refresh" name="command" value="refresh" class="btnsearch">Refresh</button>
    </p>*@
<form method="post">
    <div class="filters">
        <div class="search-lst inner-filter">
            <b>Search By:</b>
            <input type="text" name="lastname" value="@ViewData["lastname"]" placeholder="LastName" id="lstlastnamebilling" />
        </div>
        <div class="search-state inner-filter">
            @Html.DropDownList("State", new List<SelectListItem>
                    {   new SelectListItem{ Text="State", Value = "State" },
                        new SelectListItem{ Text="Alabama", Value = "AL" },
                        new SelectListItem{ Text="Alaska", Value = "AK" },
                        new SelectListItem{ Text="Arizona", Value = "AZ" },
                       new SelectListItem{ Value="AR",Text="Arkansas" },
                 new SelectListItem{ Value="CA",Text="California" },
                new SelectListItem{ Value="CO",Text="Colorado" },
                new SelectListItem{ Value="CT",Text="Connecticut"},
                new SelectListItem{ Value="DE",Text="Delaware"},
                new SelectListItem{ Value="FL",Text="Florida"},
                new SelectListItem{ Value="GA",Text="Georgia"},
                new SelectListItem{ Value="HI",Text="Hawaii"},
                new SelectListItem{ Value="ID",Text="Idaho"},
                new SelectListItem{ Value="IL",Text="Illinois"},
                new SelectListItem{ Value="IN",Text=" Indiana"},
                new SelectListItem{ Value="IA",Text="Iowa"},
                new SelectListItem{ Value="KS",Text="Kansas"},
                new SelectListItem{ Value="KY",Text="Kentucky"},
                new SelectListItem{ Value="LA",Text="Louisiana"},
                new SelectListItem{ Value="ME",Text="Maine"},
                new SelectListItem{ Value="MD",Text="Maryland"},
                new SelectListItem{ Value="MA",Text="Massachusetts"},
                new SelectListItem{ Value="MI",Text="Michigan"},
                new SelectListItem{ Value="MN",Text="Minnesota"},
                new SelectListItem{ Value="MS",Text="Mississippi"},
                new SelectListItem{ Value="MO",Text="Missouri"},
                new SelectListItem{ Value="MT",Text="Montana"},
                new SelectListItem{ Value="NE",Text="Nebraska"},
                new SelectListItem{ Value="NV",Text="Nevada"},
                new SelectListItem{ Value="NH",Text="New Hampshire"},
                new SelectListItem{ Value="NJ",Text="New Jersey"},
                new SelectListItem{ Value="NM",Text="New Mexico"},
                new SelectListItem{ Value="NY",Text="New York"},
                new SelectListItem{ Value="NC",Text="North Carolina"},
                new SelectListItem{ Value="ND",Text="North Dakota"},
                new SelectListItem{ Value="OH",Text="Ohio"},
                new SelectListItem{ Value="OK",Text="Oklahoma"},
                new SelectListItem{ Value="OR",Text="Oregon"},
                new SelectListItem{ Value="PA",Text="Pennsylvania"},
                new SelectListItem{ Value="RI",Text="Rhode Island"},
                new SelectListItem{ Value="SC",Text="South Carolina"},
                new SelectListItem{ Value="SD",Text="South Dakota"},
                new SelectListItem{ Value="TN",Text="Tennessee"},
                new SelectListItem{ Value="TX",Text="Texas"},
                new SelectListItem{ Value="UT",Text="Utah"},
                new SelectListItem{ Value="VT",Text="Vermont"},
                new SelectListItem{ Value="VA",Text="Virginia"},
                new SelectListItem{ Value="WA",Text="Washington"},
                new SelectListItem{ Value="WV",Text="West Virginia"},
                new SelectListItem{ Value="WI",Text="Wisconsin"},
                new SelectListItem{ Value="WY",Text="Wyoming" }
                    }, new { @class = "form-control select2" })
            @*<select class="form-control select2" name="State">
                <option value="Select">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN"> Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>*@
        </div>
        <div class="search-pckg inner-filter">
            @Html.DropDownList("PackagingType", new List<SelectListItem>
                    {   new SelectListItem{ Text="Packaging Type", Value = "0" },
                        new SelectListItem{ Text="Trays", Value = "1" },
                        new SelectListItem{ Text="Blister", Value = "2" },
                        new SelectListItem{ Text="Vials", Value = "3" }
                    }, new { @class = "form-control" })
            </div>
        <div class="search-dfrm inner-filter">
            <b> From:</b><input type="text" id="datefrom" value="@ViewData["fromdate"]" name="fromdate" placeholder="From Date" />
         </div>
        <div class="search-dto inner-filter">
            <b>To:</b>  <input type="text" id="dateto" value="@ViewData["todate"]" name="todate" placeholder="To Date" />
         </div>
        <div class="search-btns inner-filter">
            <button type="submit" id="lstsearch" name="command" value="search" class="btnsearch">Search</button>
            @*<button type="submit" id="lstsearch" name="command" value="filter" class="btnsearch">Filter</button>*@
            <a id="btnprint " class="linkbtn pull-right" href="@getpath.getallpath/DownloadPatientDetailsBilling" target="_blank">Print</a>
        </div>
        </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Billing Start Date")
        </th>       
        <th>
            @Html.DisplayName("Cycle Type")
        </th>
        <th>
            @Html.DisplayName("Billing Cycle Type")
        </th>
        <th>
            @Html.DisplayName("Packaging")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.FirstName)*@
                <a href="@getpath.getallpath/GetBillingHistory/@item.SelfKey_Id">
                @item.FirstName
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (item.BillingCycleStartDate != null)
                { @item.BillingCycleStartDate.Value.ToShortDateString()}
                else
                { @Html.DisplayName("-")}
            </td>
           
            <td>
                @if (item.CycleType == 1)
                {  @Html.DisplayName("Weekly")}
                else if (item.CycleType == 2)
                {  @Html.DisplayName("Bi-Weekly")}
                else if (item.CycleType == 3)
                {  @Html.DisplayName("Monthly")}
                else if (item.CycleType == 4)
                {  @Html.DisplayName("12 Weeks")}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.BillingCycle == 1)
                {<span>4 Weeks </span>}
                else if (item.BillingCycle == 2)
                { <span>12 Weeks</span>}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.PackagingType == 0)
                {  @Html.DisplayName("None")}
                else if (item.PackagingType == 1)
                {  @Html.DisplayName("Trays")}
                else if (item.PackagingType == 2)
                {  @Html.DisplayName("Blister")}
                else if (item.PackagingType == 3)
                {  @Html.DisplayName("Vials")}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.State != null && item.State != "0")
                { @Html.DisplayFor(modelItem => item.State)}
                else
                { @Html.DisplayName("-")}
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Patient_Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Patient_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Patient_Id })
                </td>*@
        </tr>
    }

</table>
<div id='Paging' style="text-align: center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetBillingList", new { page }))
</div>
