﻿@model PagedList.IPagedList<PCS1.Models.tbl_Patient>
@using PagedList.Mvc
@using PCS1.Models
@{
    ViewBag.Title = "GetHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Shipping History</h2>
<a class="linkbtn" href="@getpath.getallpath/GetList"><< Back To List</a>
<br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Shipping Start Date")
            </th>
            <th>
                @Html.DisplayName("Cycle Date")
            </th>
            <th>
                @Html.DisplayName("Cycle Type")
            </th>
            <th>
                @Html.DisplayName("Packaging")
            </th>
            <th>
                @Html.DisplayName("State")
            </th>          
        </tr>
    
    @foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (item.StartDate != null)
                { @item.StartDate.Value.ToShortDateString()}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.CycleDate != null)
                { @item.CycleDate.Value.ToShortDateString()}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.CycleType == 1)
                {  @Html.DisplayName("Weekly")}
                else if (item.CycleType == 2)
                {  @Html.DisplayName("Bi-Weekly")}
                else if (item.CycleType == 3)
                {  @Html.DisplayName("Monthly")}
                else if (item.CycleType == 4)
                {  @Html.DisplayName("12 Weeks")}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.PackagingType == 0)
                {  @Html.DisplayName("None")}
                else if (item.PackagingType == 1)
                {  @Html.DisplayName("Trays")}
                else if (item.PackagingType == 2)
                {  @Html.DisplayName("Blister")}
                else if (item.PackagingType == 3)
                {  @Html.DisplayName("Vials")}
                else
                { @Html.DisplayName("-")}
            </td>
            <td>
                @if (item.State != null)
                { @Html.DisplayFor(modelItem => item.State)}
                else
                { @Html.DisplayName("-")}
            </td>
        </tr>
    }    
    </table>

<div id='Paging' style="text-align: center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetHistory", new { page }))
</div>  